.ng-invalid.ng-pristine {
    border-color: #FA787E;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}


.content{
    height: 300px;
    width: 616px;
    background: #eee;
    position: absolute;
    margin: -150px 0 0 -278px;
    left: 50%;
    top: 41%;
    border-style: ridge;
}

.form_voucher{
    margin-left: 205px;
    margin-top: 38px;
}

.form{
    margin-left: 16px;
}

.radio{
    margin-left: -67px;
}

.inp_form{
    margin-left: 0px;
    width: 167px;								
    background: transparent url(../img/input-text.png) repeat-x; 
    border: 1px solid #999; 
    outline:0; 
    height:25px; 
}

.enviar{
    margin-left: 58px;
}

.mensagem{
    margin-left: 19px;
}

h1{
    margin-left: 43%;
    margin-top: 6%;
}