.content{
    height: 300px;
    width: 591px;
    background: #eee;
    position: absolute;
    margin: -150px 0 0 -278px;
    left: 50%;
    top: 50%;
}

.form_voucher{
    margin-left: 205px;
    margin-top: 38px;
}

.form{
    margin-left: 16px;
}

.radio{
    margin-left: -67px;
}