<p class="mensagem">Generate your voucher with ease. Choose the amount and the number of digits you desire.</p>

<div ng-controller="VoucherController">
    <form novalidate name="voucherForm" class="form_voucher" ng-submit="geraVoucher(form)">
        
        <label class="form">Vouchers to generate:</label><br>
        <input ng-model="form.qtd" class="inp_form required" type="text" required/><br><br>
        
        <label class="form">Voucher length:</label><br>
        <input ng-model="form.dgt" class="inp_form required" type="text" required/><br><br>
        
        <input type="submit" value="submit" class="enviar" />
        <br>
        
    </form>
    <div id="resultado">{{resultado}}</div>
</div>