<h1>Voucher Generator</h1><br>
<p class="mensagem">Generate your vouchers with ease. Choose the amount and the number of digits you desire.</p>

<div ng-controller="VoucherController">
    <form novalidate name="voucherForm" class="form_voucher" ng-submit="geraVoucher(form)">
        
        <label class="form">Vouchers to generate:</label><br>
        <input ng-model="form.qtd" class="inp_form required" type="text" required/><br><br>
        
        <label class="form">Voucher length:</label><br>
        <input ng-model="form.dgt" class="inp_form required" type="text" required/><br><br>
        <div class="radio">
        <label class="form">Output result to:</label>
            <input ng-model="form.output" type="radio" ng-checked="true" name="output" class="radio_form" value="screen"/><label class="form">Screen</label>
            <input ng-model="form.output" type="radio" name="output" class="radio_form" value="csv"/><label class="form">CSV file</label>
        </div>
            <br><br>
        
        <input type="submit" value="generate" class="enviar" />
        <br><br>
        
    </form>
    <div id="resultado">{{resultado}}</div>
</div>